@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*

#D9C52E
#E3E030
#71E330
#30D92E
#A0CC35

*/

:root{
    --cor1: #D9C52E;
    --cor2: #E3E030;
    --cor3: #71E330;
    --cor4: #4A7F50;
    --cor5: #A0CC35;
}



nav{
    background-color: var(--cor4);
    padding: 20px;
    display: flex;
}

nav h1{
    color: var(--cor2);
    margin-right: 150px;
    padding: 10px;
}

nav >a{
    text-decoration: none;
    padding: 15px;
    
    color: var(--cor1);
}

nav >a:hover{
    background-color: var(--cor1);
    color: var(--cor4);
}

main{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    padding: 10px;
    margin: auto;
}

.banner img{
    width: 950px;
    height: 450px;
}

.relacionado >img{
    width: 300px;
    margin: auto;
    text-align: center;
}

footer{
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 15px;
    text-align: center;
}
